
.top{
    text-align: right;
    padding: 10px;
}

.top a{
    text-decoration: none;
    color:black;
    margin-left: 10px;
    font-family: ariel, sans-serif;

}
.top a:hover{
    text-decoration: underline;
}
.top a.login{
   background-color: #1a73e8;
   color:white;
   padding: 9px 23px;
   border-radius: 4px;
}
.top a.login:hover{
    background-color: #2b7de9;
    text-decoration: none;
}
.middle{
    text-align: center;
    margin-top: 200px;
}
.middle input{
    width:30%;
    border:1px solid #d4d4d4; 
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 16px;
    margin: 15px 0;
      
}
.middle a.middleButton{
    text-decoration: none;
    color:black;
    padding:10px 20px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 100px;

}
.middle a.middleButton:hover{
    border: 1px solid #d4d4d4;
}
.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color:black;
    background-color:#f2f2f2;
    color:#70757a;
    padding:10px;
    font-size:15px;
}

.bottom ul{
    padding: 0;
}
.bottom li{
display: inline-block;
margin: 0 10px;
}

.bottom a:hover{
    text-decoration: underline;
}

.img{
    height: 92px;
}

.navigation .leftLinks{
    float: left;
}

.navigation .rightLinks{
    float: right;
}